---
import React from "react";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import GunboundForm from "../components/GunboundForm.astro";
import NewsCard from "../components/NewsCard.astro";
import Gallery from "../components/Gallery.astro";
import Footer from "../components/Footer.astro";
import FormCard from "@/components/FormCard.astro";
import App from "@/components/App";

---

<Layout title="GunBound 2007">
    <Header />
    <div class="main-content">
        <GunboundForm />
        <FormCard />
    </div>
    <App client:load/>
    
    <Footer />
    <style>
        .main-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;
            padding: 2rem;
        }
    </style>
</Layout>
