---
import GbTurtle from "../components/GbTurtle.astro";
import NewsCard from "../components/NewsCard.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Gallery from "../components/Gallery.astro";
import Footer from "../components/Footer.astro";
import Gbmamu from "@/components/Gbmamu.astro";
---

<Layout title="GunBound 2003 - Turtle">
    <Header />
    <div class="main-content">
        <Gbmamu/>
        <NewsCard />
    </div>
    <Gallery />
    <Footer />
</Layout>
<style>
    .main-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        padding: 2rem;
    }
</style>
