---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

import Footer from "../components/Footer.astro";
import App from "@/components/App";
import FormCard from "@/components/FormCard.astro";

import GbTurtle from "@/components/GbTurtle.astro";
import BotGB from "@/components/BotGB.astro";
import GraficaTurtle2 from "@/components/GraficaTurtle2.astro";
---

<Layout title="GunBound 2003 - Turtle">
    <Header />
    <div class="main-content">
        <GbTurtle />
        <GraficaTurtle2 />
        <BotGB />
        <FormCard />
    </div>
    <App client:load />

    <Footer />
</Layout>
<style>
    .main-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        padding: 2rem;
    }
</style>
