---

---

<footer class="footer">
    <p>
        &copy; 2003-2025 ErvicL. Todos los derechos reservados. <a href="#"
            >Términos de Servicio</a
        > | <a href="#">Política de Privacidad</a>
    </p>
</footer>

<style>
    .footer {
        background: linear-gradient(to top, #000033, var(--bg-color));
        color: var(--text-color);
        text-align: center;
        padding: 1rem;
        margin-top: 2rem;
    }

    .footer a {
        color: var(--primary-color);
        text-decoration: none;
    }
</style>
