---
import Layout from "../layouts/Layout.astro";
---

<div class="main-content">
    <div class="container">
        <h2 class="float">GunBound 2007</h2>
        <input
            type="number"
            id="numeroInput"
            placeholder="Ingresa cualquier número para generar"
            min="1"
        />
        <div class="table-container" id="tablaContainer"></div>
    </div>

    <div class="card">
        <h3>Noticias GunBound</h3>
        <p>
            ¡Nuevo evento de temporada! Participa en batallas especiales y gana
            recompensas exclusivas. No te pierdas la oportunidad de demostrar
            tus habilidades y obtener objetos únicos para tu móvil.
        </p>
    </div>
</div>

<div class="gallery">
    <img src="https://i.imgur.com/XKuPyHj.png" alt="Armor" />
    <img src="https://i.imgur.com/J4mYZ9H.png" alt="Mage" />
    <img src="https://i.imgur.com/5X8fO9K.png" alt="Nak" />
    <img src="https://i.imgur.com/MYR1xwH.png" alt="Trico" />
</div>
<style></style>
