---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";

import Footer from "@/components/Footer.astro";
import App from "@/components/App";


import GbTurtle from "@/components/gunbound/GbTurtle.astro";
import CardAvatares from "@/components/CardAvatares.astro";

---

<Layout title="GunBound 2003 - Turtle">
    <Header />
    <div class="main-content">
        <GbTurtle />   
    </div>
    <CardAvatares/>
    <App client:load />

    <Footer />
</Layout>
<style>
    .main-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        padding: 2rem;
    }
</style>
